[Unit]
Description=listen power switch to shutdown
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/ubuntu/pi_soft_reboot/listen-for-shutdown.py

[Install]
WantedBy=multi-user.target
